Repository qri-io/qri, pull requests merged in 2019-08, with the labels that each got.

#863 fix(validate): Validate works with FSI. Various FSI cleanups.
  cmd/fsi_test.go
  cmd/ref_select.go
  cmd/ref_select_test.go
  cmd/validate.go
  cmd/validate_test.go
  fsi/status.go
  lib/datasets.go
  lib/datasets_test.go
Labels: fix

#869 fix(api): body requests honor full references
  api/datasets.go
Labels: API, fix

#872 fix(cfg): Better error messages when validating config
  config/config.go
  config/p2p.go
  lib/lib.go
  repo/profile/profile.go
Labels: UX, refactor

#871 Handle null datasets, those with no history. Cleanup FSI semantics of status API.
  api/datasets.go
  api/fsi.go
  api/fsi_test.go
  api/log.go
  api/root.go
  base/ref.go
  cmd/log.go
  cmd/status.go
  fsi/fsi.go
  fsi/status.go
  lib/datasets.go
  lib/fsi.go
  repo/ref.go
  repo/repo.go
Labels: API, FSI, fix

#886 feat(restore): Add api for restore. Test for checkout and restore apis.
  api/api.go
  api/fsi.go
  api/fsi_test.go
  cmd/fsi_integration_test.go
  cmd/restore.go
  fsi/mapping.go
  lib/fsi.go
Labels: API, FSI, feat

#885 fix(api): report publish status when fetching a single dataset
  api/datasets.go
  api/remote.go
  api/root.go
  cmd/publish.go
  lib/datasets.go
  lib/remote.go
  remote/client.go
  remote/remote.go
Labels: API, fix

#889 feat(status): FSI status include file mtime. Requires flag for cmdline.
  api/fsi_test.go
  api/testdata/api.snapshot
  cmd/status.go
  fsi/body.go
  fsi/mapping.go
  fsi/status.go
  fsi/status_test.go
  lib/datasets.go
Labels: API, FSI, fix

#893 refactor(registry): sync local profile to registry response on signup/prove
  api/registry.go
  cmd/factory.go
  cmd/factory_test.go
  cmd/qri.go
  cmd/registry.go
  lib/config.go
  lib/lib.go
  lib/registry.go
  registry/profile.go
  registry/regserver/handlers/profile.go
  repo/repo.go
Labels: refactor, registry
