Repository qri-io/qri, pull requests merged in 2019-07, with the labels that each got.

#823 feat(qri-ref): Commands to link a working directory to a dataset
  cmd/export.go
  cmd/init.go
  cmd/print.go
  cmd/qri.go
  cmd/save.go
  cmd/status.go
  cmd/use.go
Labels: CLI, feat

#824 feat(fsi): fsi package defines qri filesystem integration
  api/api.go
  api/fsi.go
  cmd/cmd_test.go
  cmd/factory.go
  cmd/factory_test.go
  cmd/init.go
  cmd/peers.go
  cmd/qri.go
  cmd/save.go
  cmd/status.go
  cmd/stringers_test.go
  cmd/update_test.go
  cmd/use.go
  fsi/fsi.fbs
  fsi/fsi.go
  fsi/fsi_fbs/Link.go
  fsi/fsi_fbs/Links.go
  fsi/fsi_test.go
  fsi/link.go
  fsi/link_test.go
  fsi/mapping.go
  fsi/mapping_test.go
  fsi/status.go
  fsi/status_test.go
  fsi/testdata/invalid_mappings/bad_yaml/dataset.yaml
  fsi/testdata/invalid_mappings/double_format/dataset.json
  fsi/testdata/invalid_mappings/double_format/dataset.yaml
  fsi/testdata/invalid_mappings/two_metas/dataset.yaml
  fsi/testdata/invalid_mappings/two_metas/meta.json
  fsi/testdata/valid_mappings/all_in_dataset/dataset.yaml
  fsi/testdata/valid_mappings/all_json_components/__expect.json
  fsi/testdata/valid_mappings/all_json_components/body.csv
  fsi/testdata/valid_mappings/all_json_components/commit.json
  fsi/testdata/valid_mappings/all_json_components/meta.json
  fsi/testdata/valid_mappings/all_json_components/schema.json
  fsi/testdata/valid_mappings/all_json_components/structure.json
  fsi/testdata/valid_mappings/all_json_components/transform.json
  fsi/testdata/valid_mappings/all_json_components/viz.json
  go.mod
  go.sum
  lib/fsi.go
  lib/lib.go
  lib/lib_test.go
  lib/update.go
  lib/update_test.go
  startf/transform.go
  startf/transform_test.go
  update/cron/cron_fbs/JobType.go
  update/cron/cron_fbs/Options.go
  update/cron/http.go
Labels: API, CLI, feat

#826 fix(fill): Error message consistency
  base/fill/error_collector.go
  base/fill/path_value.go
  base/fill/path_value_test.go
  base/fill/struct.go
  base/fill/struct_test.go
  config/config_test.go
Labels: fix

#832 make status work on datasets that aren't fsi-linked
  actions/actions_test.go
  actions/dataset_test.go
  api/api.go
  api/fsi.go
  cmd/checkout.go
  cmd/cmd_test.go
  cmd/fsi_test.go
  cmd/save.go
  cmd/status.go
  fsi/fsi.go
  fsi/link.go
  fsi/status.go
  lib/fsi.go
Labels: feat

#835 feat(api): methods for reading & saving FSI datasets via API
  api/api.go
  api/fsi.go
  base/dataset.go
  cmd/init.go
  fsi/body.go
  fsi/fsi.go
  fsi/fsi_test.go
  fsi/init.go
  fsi/link.go
  fsi/mapping.go
  lib/datasets.go
  lib/fsi.go
Labels: feat

#838 chore: remove old repo code
  actions/diff.go
  actions/validate.go
  api/fsi.go
  repo/fs/fs.go
  repo/graph.go
  repo/graph_test.go
  repo/mem_repo.go
  repo/ref.go
Labels: chore

#852 test(cmd): route output to buffer for cleaner test output
  cmd/cmd_test.go
  cmd/export.go
Labels: test

#853 fix(lib): profileMethods need to persist their changes
  lib/profile.go
Labels: fix, lib

#851 refactor(repo): move fsi link storage to refstore, use flatbuffers in fs.Refstore
  api/fsi.go
  base/dataset.go
  base/dataset_prepare.go
  base/dataset_test.go
  cmd/cmd_test.go
  fsi/fsi.fbs
  fsi/fsi.go
  fsi/fsi_fbs/Link.go
  fsi/fsi_test.go
  fsi/link.go
  fsi/link_test.go
  fsi/status.go
  fsi/status_test.go
  go.mod
  go.sum
  lib/datasets_test.go
  lib/fsi.go
  lib/registry_test.go
  p2p/dataset_test.go
  p2p/datasets.go
  repo/fs/files.go
  repo/fs/fs.go
  repo/fs/migrate.go
  repo/fs/refstore.go
  repo/mem_refstore.go
  repo/ref.go
  repo/ref_test.go
  repo/refs.go
  repo/refs_test.go
  repo/repo.fbs
  repo/repo_fbs/DatasetRef.go
  repo/repo_fbs/Reflist.go
  repo/repo_fbs/Refstore.go
  repo/repo_fbs/Repo.go
  repo/search/index.go
  repo/test/test_refstore.go
  startf/qri/qri.go
Labels: feat, refactor, repo

#855 Refactor remove "fsi" api endpoint prefixes
  api/api.go
  api/api_test.go
  api/datasets.go
  api/fsi.go
  api/root.go
  api/testdata/api.snapshot
  cmd/cmd_test.go
  cmd/get.go
  cmd/save.go
  cmd/stringers.go
  fsi/fsi.go
  fsi/fsi_test.go
  fsi/mapping.go
  lib/datasets.go
  repo/ref.go
Labels: API, lib, refactor

#856 feat(api): checkout endpoint
  api/api.go
  api/api_test.go
  api/dataset_test.go
  api/fsi.go
  api/fsi_test.go
  api/testdata/api.snapshot
Labels: API, feat
