Repository qri-io/qri, pull requests merged in 2019-09, with the labels that each got.

#894 fix(remote): add requesting profile ID to remote hook signature
  remote/client.go
  remote/remote.go
Labels: fix, remote

#899 fix(config): enable setting config over RPC
  config/registry.go
  config/repo.go
Labels: CLI, config, fix

#901 fix(regclient.Profile): Profile struct has field formatting details when marshalling to json
  lib/config.go
  lib/profile.go
  lib/registry.go
  registry/profile.go
  registry/regclient/profile.go
Labels: config, fix, registry

#902 fix(restore): Restore will delete components that didn’t exist in previous version
  cmd/fsi_integration_test.go
  cmd/status.go
  fsi/mapping.go
  fsi/status.go
  go.mod
  go.sum
  lib/fsi.go
Labels: FSI, fix

#897 feat(cmd): add fsi plumbing subcommand
  cmd/fsi.go
  cmd/qri.go
  fsi/fsi.go
  go.mod
  go.sum
Labels: FSI

#905 chore(release): release v0.9.0-alpha
  CHANGELOG.md
  api/testdata/api.snapshot
  go.mod
  lib/lib.go
  p2p/p2p.go
Labels: chore

#909 fix(add): restore add
  api/testdata/api.snapshot
  go.mod
  go.sum
  lib/lib.go
  p2p/p2p.go
  remote/client.go
  remote/remote.go
Labels: fix

#910 feat(fsi): Init may take a --source-body-path to create body file
  api/fsi.go
  api/fsi_test.go
  api/testdata/api.snapshot
  cmd/fsi_integration_test.go
  cmd/init.go
  fsi/init.go
Labels: FSI, feat

#912 test(fsi): Don't write meta.json to current dir. Check status.
  api/fsi_test.go
Labels: FSI, fix, test

#913 feat(fsi): Init can take a directory name to create for linking
  cmd/fsi_integration_test.go
  cmd/init.go
  fsi/init.go
Labels: FSI, fix

#914 feat(fsi): Api can set directory to create for init
  api/fsi.go
Labels: API, FSI, fix

#915 fix(fsi): Add relative directory to fsi body path. Parse body for status.
  api/fsi_test.go
  cmd/fsi_integration_test.go
  fsi/body.go
  fsi/mapping.go
  fsi/status.go
  fsi/status_test.go
Labels: FSI, fix

#917 fix(fsi): Init does not output a schema.json
  api/fsi_test.go
  cmd/fsi_integration_test.go
  fsi/init.go
  fsi/mapping.go
Labels: FSI, fix

#918 feat(mock registry): add support for mock registry config
  lib/lib.go
Labels: feat, lib

#919 fix(fsi unlink): unlink command removes .qri-ref file
  cmd/fsi.go
  cmd/fsi_test.go
  fsi/fsi.go
  fsi/fsi_test.go
  go.sum
Labels: FSI, fix, test

#920 feat(windows): Set .qri-ref as hidden in Windows
  fsi/fsi.go
  fsi/set_file.go
  fsi/set_file_windows.go
Labels: FSI, fix

#924 refactor(api init): calls to init should return the dataset
  api/fsi.go
  api/testdata/api.snapshot
Labels: refactor

#922 feat(remove): Add FSI options to remove
  api/datasets.go
  api/testdata/api.snapshot
  cmd/factory_test.go
  cmd/fsi.go
  cmd/fsi_test.go
  cmd/remove.go
  fsi/fsi.go
  fsi/fsi_test.go
  fsi/mapping.go
  fsi/mapping_test.go
  lib/datasets.go
  lib/datasets_test.go
  lib/fsi.go
  lib/lib.go
Labels: API, CLI, FSI, feat

#925 fix(test): Handle test flakiness by forcing column type to be a string
  api/fsi_test.go
Labels: fix, test

#929 fix(add): need to re-initialize add when connecting
  actions/dataset.go
  api/api.go
  base/dataset.go
  go.mod
  go.sum
  lib/lib.go
  p2p/node.go
  remote/client.go
Labels: fix, remote

#930 refactor: use context deadlines as cheap proxies for local-only fetches
  api/testdata/api.snapshot
  base/dataset.go
  base/log.go
  fsi/status.go
  p2p/node.go
Labels: network/p2p, refactor

#931 feat(registry): add signup & prove subcommands
  cmd/registry.go
Labels: CLI

#933 refactor(api): send status code 422 for "dataset is not linked to the filesystem" error
  api/dataset_test.go
  api/datasets.go
  api/fsi.go
  api/fsi_test.go
  api/log.go
  api/root.go
  api/testdata/api.snapshot
  fsi/fsi.go
  lib/datasets.go
Labels: API, refactor

#934 refactor(DatasetRef): add Foreign flag to dataset reference, show in qri list
  base/dataset.go
  cmd/stringers.go
  repo/ref.go
Labels: fix, refactor, repo

#937 feat(fsi): add fsimethods.Write to write directly to the linked filesystem
  api/api.go
  api/fsi.go
  api/fsi_test.go
  lib/fsi.go
  lib/fsi_test.go
Labels: API, FSI, feat

#941 logbook records dataset histories
  actions/dataset_test.go
  actions/merge_events_test.go
  actions/transform_test.go
  base/base_test.go
  base/dataset_test.go
  base/render_test.go
  go.mod
  go.sum
  lib/lib_test.go
  logbook/log/log.fbs
  logbook/log/log.go
  logbook/log/log_test.go
  logbook/log/logfb/Book.go
  logbook/log/logfb/Log.go
  logbook/log/logfb/Logset.go
  logbook/log/logfb/OpType.go
  logbook/log/logfb/Operation.go
  logbook/log/simulate_test.go
  logbook/logbook.go
  logbook/logbook_test.go
  repo/fs/fs_test.go
  repo/ref_test.go
Labels: feat, logbook

#942 feat(add): add link flag to lib.Add, CLI, API
  api/datasets.go
  cmd/add.go
  lib/datasets.go
  lib/datasets_test.go
Labels: API, CLI, FSI, feat

#945 fix(search): update to new registry api search result format
  cmd/search.go
  cmd/search_test.go
  cmd/stringers.go
  lib/search.go
  lib/search_test.go
  registry/regclient/search.go
  registry/search.go
Labels: fix, search

#947 chore(release): release v0.9.0
  CHANGELOG.md
  api/testdata/api.snapshot
  lib/lib.go
  p2p/p2p.go
Labels: chore
