Repository qri-io/qri, pull requests merged in 2020-07, with the labels that each got.

#1423 fix(windows): Don't detect terminal type
  cmd/get.go
  cmd/system.go
  cmd/system_windows.go
Labels: platform/windows

#1426 feat(logbook): write push & pull operations, add logbook diagnostic output format
  base/log_test.go
  cmd/log.go
  cmd/save.go
  cmd/save_test.go
  dsref/spec/resolve.go
  lib/datasets.go
  lib/integration_test.go
  lib/log.go
  lib/remote.go
  logbook/logbook.go
  logbook/logbook_test.go
  logbook/logsync/http.go
  logbook/logsync/logsync.go
  logbook/logsync/logsync_test.go
  logbook/logsync/p2p.go
  logbook/types.go
  remote/mock_client.go
  remote/peer_sync_client_test.go
  remote/remote_test.go
Labels: feat, logbook

#1424 chore(release): release v0.9.9
  CHANGELOG.md
  version/version.go
Labels: chore, fix

#1428 fix(sql): properly handle dashes in dataset names
  sql/preprocess/preprocess.go
  sql/preprocess/preprocess_test.go
Labels: SQL, fix

#1430 refactor(event): re-work events to be synchronus
  api/test_runner_test.go
  api/websocket.go
  base/base_test.go
  base/log_test.go
  base/save_test.go
  cmd/save_test.go
  dscache/dscache.go
  dscache/dscache_test.go
  dsref/spec/resolve.go
  event/dataset.go
  event/event.go
  event/event_test.go
  event/fsi.go
  event/hook/change.go
  fsi/fsi.go
  lib/lib.go
  lib/lib_test.go
  lib/peers_test.go
  lib/test_runner_test.go
  logbook/logbook.go
  logbook/logbook_test.go
  logbook/logsync/logsync_test.go
  logbook/temp_builder.go
  p2p/p2p_test.go
  p2p/test/ipfs.go
  p2p/test/ipfs_test.go
  remote/peer_sync_client_test.go
  remote/remote_test.go
  repo/buildrepo/build.go
  repo/fs/fs_test.go
  repo/mem_repo.go
  repo/mem_repo_test.go
  repo/refstore_test.go
  repo/test/spec/test_repo_test.go
  repo/test/test_repo.go
  watchfs/watchfs.go
Labels: event bus, refactor

#1433 refactor(api): watchfs sends over event bus, websocket API is an event stream
  api/websocket.go
  config/config.go
  event/filesystem.go
  event/fsi.go
  event/lifecycle.go
  lib/lib.go
  lib/lib_test.go
  lib/websocket.go
  lib/websocket_test.go
  watchfs/event.go
  watchfs/watchfs.go
  watchfs/watchfs_test.go
Labels: API, Breaking Change, event bus

#1436 feat(lib): `OptNoBootstrap` option func for `NewInstance`
  go.mod
  go.sum
  lib/lib.go
Labels: feat

#1432 fix(qri): Fix multiple issues that affect Windows and Jupyter
  api/testdata/api.snapshot
  cmd/cmd_test.go
  cmd/fsi_integration_test.go
  cmd/peers.go
  cmd/print.go
  cmd/system.go
  cmd/system_windows.go
  dsref/version_info.go
Labels: CLI, platform/windows

#1440 feat(event): add p2p events to `events` and event bus to `QriNode`
  api/api_test.go
  event/p2p.go
  go.mod
  go.sum
  lib/config_test.go
  lib/datasets_test.go
  lib/export_test.go
  lib/fsi_test.go
  lib/lib.go
  lib/log_test.go
  lib/profile_test.go
  lib/remote_test.go
  lib/render_test.go
  lib/search_test.go
  lib/test_runner_test.go
  p2p/node.go
  p2p/node_test.go
  p2p/p2p_test.go
  p2p/qri_peers_test.go
  registry/regclient/client_test.go
  registry/regserver/mock.go
  remote/peer_sync_client_test.go
  remote/remote_test.go
Labels: feat

#1439 refactor(save): overhaul save path InitID preparation
  api/dataset_test.go
  base/dataset_prepare.go
  base/dataset_prepare_test.go
  base/save.go
  cmd/cmc_info_300.json
  cmd/cmd_test.go
  cmd/save_test.go
  cmd/test_runner_test.go
  fsi/fsi.go
  fsi/fsi_test.go
  lib/datasets.go
  lib/datasets_test.go
  lib/lib.go
  lib/resolve.go
Labels: base

#1447 fix(logbook,logsync,cmd): round of fixes prior to release
  Dockerfile
  cmd/cmd.go
  cmd/connect.go
  cmd/print.go
  cmd/qri.go
  config/migrate/migrate.go
  config/migrate/migrate_test.go
  lib/lib.go
  logbook/logbook.go
  logbook/logbook_test.go
  logbook/logsync/logsync.go
Labels: fix, logbook

#1448 feat(get): Fix root handler for `get` so zip works, remove export handler
  api/api.go
  api/api_test.go
  api/dataset_test.go
  api/datasets.go
  api/root.go
Labels: API, Breaking Change, fix

#1274 refactor: changes to make testground simulation viable
  cmd/connect.go
  cmd/factory_test.go
  cmd/setup.go
  config/test_config.go
  event/event.go
  event/p2p.go
  go.mod
  go.sum
  lib/datasets_test.go
  lib/lib.go
  lib/lib_test.go
  lib/setup.go
  lib/setup_test.go
  lib/test_runner_test.go
  p2p/bootstrap.go
  p2p/connected.go
  p2p/connected_test.go
  p2p/dataset_test.go
  p2p/datasets_test.go
  p2p/discovery.go
  p2p/list_peers_test.go
  p2p/message.go
  p2p/node.go
  p2p/node_test.go
  p2p/p2p.go
  p2p/peers.go
  p2p/peers_test.go
  p2p/ping.go
  p2p/ping_test.go
  p2p/profile.go
  p2p/profile_test.go
  p2p/qri_peers.go
  p2p/qri_peers_test.go
  p2p/resolve_ref_test.go
  p2p/test/p2ptest.go
  p2p/test/p2ptest_test.go
  p2p/test/testable_node_test.go
  remote/peer_sync_client.go
  remote/remote.go
Labels: lib, refactor

#1453 refactor(export): Remove export command
  cmd/export.go
  cmd/factory.go
  cmd/factory_test.go
  cmd/qri.go
  lib/export.go
  lib/export_test.go
  lib/lib_test.go
  lib/rpc.go
Labels: refactor

#1455 refactor(p2p): `n.ResolveRefLocally` allows a `QriNode` to resolve a ref locally
  p2p/dataset_test.go
  p2p/node.go
Labels: refactor

#1457 fix(linux): migration fix for copying on cross link device
  go.mod
  go.sum
Labels: fix, platform/linux

#1459 refactor(lib): allow override of open file timeout
  event/lifecycle.go
  lib/lib.go
Labels: refactor

#1450 refactor(remote): overhaul remote package
  api/datasets.go
  api/testdata/api.snapshot
  base/dataset_prepare_test.go
  cmd/get.go
  cmd/pull.go
  cmd/pull_test.go
  cmd/qri.go
  cmd/remove_integration_test.go
  cmd/rename_integration_test.go
  cmd/save_test.go
  cmd/test_runner_test.go
  dscache/dscache.go
  dscache/dscache_test.go
  dsref/mem_resolver.go
  dsref/mem_resolver_test.go
  dsref/resolve.go
  dsref/spec/resolve.go
  event/instance.go
  event/remote.go
  go.mod
  go.sum
  lib/datasets.go
  lib/datasets_test.go
  lib/integration_test.go
  lib/lib.go
  lib/lib_test.go
  lib/load.go
  lib/remote.go
  lib/resolve.go
  lib/websocket_test.go
  logbook/logbook.go
  logbook/logsync/logsync.go
  p2p/node_test.go
  registry/regclient/client.go
  registry/regclient/client_test.go
  registry/regserver/mock.go
  registry/regserver/mock_test.go
  remote/browse.go
  remote/client.go
  remote/client_test.go
  remote/mock_client.go
  remote/mock_client_test.go
  remote/peer_sync_client.go
  remote/remote.go
  remote/remote_test.go
  remote/signature.go
  remote/signature_test.go
  repo/buildrepo/build.go
  repo/fs/fs.go
  repo/fs/fs_test.go
  repo/mem_repo.go
  repo/repo.go
  repo/test/temp_repo.go
  repo/test/test_repo.go
Labels: fix, registry

#1445 refactor(base): remove all calls to repo.CanonicalizeDatasetRef from base package
  api/datasets.go
  api/fsi_test.go
  api/log_test.go
  api/test_runner_test.go
  api/testdata/api.snapshot
  base/base_test.go
  base/dataset.go
  base/dataset_test.go
  base/dsfs/dataset.go
  base/log.go
  base/log_test.go
  base/ref.go
  base/ref_test.go
  base/remove.go
  base/remove_test.go
  base/render.go
  base/revisions.go
  base/revisions_test.go
  base/save.go
  base/save_test.go
  base/select.go
  base/select_test.go
  base/test_runner_test.go
  cmd/fsi_integration_test.go
  cmd/remove_integration_test.go
  cmd/save.go
  dsref/rev_test.go
  dsref/version_info.go
  dsref/version_info_test.go
  fsi/status.go
  lib/datasets.go
  lib/datasets_test.go
  lib/diff_test.go
  lib/fsi.go
  lib/integration_test.go
  lib/lib_test.go
  lib/remote.go
  lib/render.go
  lib/render_test.go
  lib/rpc_test.go
  lib/test_runner_test.go
  p2p/p2p_test.go
  remote/client.go
  remote/client_test.go
  remote/remote_test.go
  repo/refstore.go
Labels: base, refactor

#1462 fix(docker): qri must be built from go 1.14 or higher
  Dockerfile
Labels: docker, fix

#1463 feat(push, remove): publish -> push rename, remove --remote flag, better docs
  api/api.go
  api/datasets.go
  api/remote.go
  api/remote_test.go
  cmd/list.go
  cmd/publish.go
  cmd/pull.go
  cmd/pull_test.go
  cmd/push.go
  cmd/push_test.go
  cmd/qri.go
  cmd/registry.go
  cmd/remove.go
  cmd/rename_integration_test.go
  cmd/search.go
  lib/datasets.go
  lib/integration_test.go
  lib/params.go
  lib/remote.go
  remote/remote.go
Labels: Breaking Change, CLI, docs, feat, fix

#1465 feat(preview): preview subcommand
  base/base_test.go
  base/dataset.go
  base/dsfs/dataset.go
  base/preview.go
  base/preview_test.go
  cmd/preview.go
  cmd/preview_test.go
  cmd/qri.go
  go.mod
  go.sum
  lib/integration_test.go
  remote/client.go
  remote/client_test.go
Labels: CLI, feat

#1466 chore(logging): add debug logging along save path
  base/dataset_prepare.go
  base/dsfs/dataset.go
  base/friendly/friendly.go
  base/revisions.go
  base/save.go
  lib/lib.go
Labels: base, chore

#1470 docs: remove issue templates
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-feature-request.md
  .github/ISSUE_TEMPLATE/3-support-request.md
Labels: docs

#1471 chore(release): release v0.9.10
  CHANGELOG.md
  version/version.go
Labels: chore

#1476 fix(lib): don't panic when resolving without a registry
  dsref/resolve.go
  lib/resolve.go
  lib/resolve_test.go
Labels: fix, lib
