Repository qri-io/qri, pull requests merged in 2020-01, with the labels that each got.

#1064 feat(doggo): Setup flag that only creates a nick and displays it
  cmd/setup.go
  cmd/setup_test.go
Labels: feat

#1065 fix(test): API tests are stable and pass even when version changes
  api/api.go
  api/api_test.go
  api/dataset_test.go
  api/fsi_test.go
  api/testdata/api.snapshot
Labels: API, test

#1071 fix(validate): Improve validate so it works with FSI
  base/validate.go
  base/validate_test.go
  cmd/cmd.go
  cmd/save_test.go
  cmd/testdata/movies/schema_only.json
  cmd/validate.go
  cmd/validate_test.go
  lib/datasets.go
  lib/datasets_test.go
  lib/lib_test.go
Labels: FSI, fix, refactor

#1072 fix(change username): successful registry signup that changes a username must not break datasets made with prior peer name
  base/ref.go
  cmd/cmd_test.go
  cmd/test_runner.go
  lib/datasets.go
  lib/registry.go
  logbook/logbook.go
  logbook/logbook_test.go
  repo/repo.go
Labels: fix, naming

#1073 fix(log): Add --log-all flag to enable logging everywhere
  cmd/qri.go
  fsi/fsi.go
  lib/datasets.go
  lib/fsi.go
  lib/lib.go
Labels: feat

#1074 chore(release): Release v0.9.4
  CHANGELOG.md
  version/version.go
Labels: chore, fix

#1075 docs(cmd): document registry signup and prove commands
  cmd/registry.go
Labels: CLI, docs

#1078 test(cmd): refactor TestRepoRoot down into repo/test package
  DEVELOPERS.md
  cmd/cmd_test.go
  cmd/connect_test.go
  cmd/factory_test.go
  cmd/fetch_test.go
  cmd/fsi_integration_test.go
  cmd/log_test.go
  cmd/remove_integration_test.go
  cmd/test_runner.go
  lib/lib_test.go
  lib/setup_test.go
  repo/test/generator.go
  repo/test/test_repo.go
  repo/test/testdata/empty_ipfs_repo.zip
Labels: CLI, repo, test

#1080 feat: add initial "browse" lib methods, utilities for testing registry interaction, much refactoring
  api/api.go
  api/browse.go
  api/search_test.go
  cmd/cmd_test.go
  cmd/connect_test.go
  cmd/test_runner.go
  go.mod
  go.sum
  lib/browse.go
  lib/lib.go
  lib/lib_test.go
  lib/profile_test.go
  lib/setup.go
  lib/setup_test.go
  registry/regclient/client.go
  registry/regclient/reputation.go
  registry/regclient/reputation_test.go
  registry/registry.go
  registry/regserver/handlers/handlers.go
  registry/regserver/handlers/reputation.go
  registry/regserver/handlers/reputation_test.go
  registry/regserver/mock.go
  registry/regserver/mock/server.go
  registry/regserver/mock_test.go
  registry/reputation.go
  registry/reputation_test.go
  registry/reputations.go
  registry/temp_registry_server/server.go
  registry/temp_registry_server/temp.go
  remote/remote.go
  repo/buildrepo/build.go
  repo/fs/fs.go
  repo/fs/fs_test.go
  repo/test/spec/test.go
  repo/test/spec/test_profilestore.go
  repo/test/spec/test_refstore.go
  repo/test/spec/test_repo_test.go
  repo/test/temp_repo.go
  repo/test/test_repo.go
Labels: feat, refactor, registry, repo

#1084 fix(logbook): use AddChild instead of directly appending to oplog.Log.Logs
  logbook/logbook.go
  logbook/oplog/log.go
  logbook/oplog/log_test.go
Labels: fix, logbook

#1085 feat(remote): ephemeral log fetching with remoteClient.FetchLogs
  api/remote.go
  api/websocket.go
  base/hidden_file_windows.go
  base/log.go
  cmd/add.go
  cmd/connect_test.go
  cmd/factory_test.go
  cmd/fetch.go
  cmd/fetch_test.go
  lib/datasets.go
  lib/remote.go
  logbook/logbook.go
  logbook/logsync/http_test.go
  logbook/logsync/logsync.go
  logbook/logsync/logsync_test.go
  logbook/logsync/p2p_test.go
  remote/client.go
  remote/mock_client.go
  remote/peer_sync_client.go
  remote/remote_test.go
Labels: feat, logbook, remote, sync

#1082 test(TwoActorRegistryIntegration): lib-level integration test showing logsync & clone behaviour
  cmd/test_runner_test.go
  lib/integration_test.go
  lib/remote.go
  repo/test/generator.go
  repo/test/temp_repo.go
Labels: lib, test

#1086 fix(logbook): addChild should not create duplicate children
  go.sum
  lib/integration_test.go
  logbook/oplog/log.go
Labels: fix, logbook, sync

#1083 test(dscache): Tests for dscache, especially conversion. TODOs for more.
  dscache/convert.go
  dscache/convert_test.go
  dscache/dscache.go
  dscache/dscache_test.go
  dscache/fill_info_test.go
  dscache/logbook_temp_builder.go
  lib/datasets.go
Labels: logbook, test

#1088 fix(dscache): Add refs in dsref that logbook is missing. More tests.
  dscache/convert.go
  dscache/convert_test.go
  dscache/logbook_temp_builder_test.go
Labels: fix, logbook
