Repository qri-io/qri, pull requests merged in 2020-11, with the labels that each got.

#1573 fix(api): health & root endpoints use middleware, which handles OPTIONS
  api/api.go
  api/api_test.go
  api/dataset_test.go
  api/datasets.go
  api/datasets_test.go
  api/fsi.go
  api/fsi_test.go
  api/get_test.go
  api/log.go
  api/log_test.go
  api/middleware.go
  api/peers.go
  api/peers_test.go
  api/profile.go
  api/profile_test.go
  api/registry.go
  api/remote.go
  api/remote_test.go
  api/render.go
  api/render_test.go
  api/search.go
  api/search_test.go
  api/sql.go
  api/sql_test.go
  api/testdata/api.snapshot
Labels: API, fix

#1574 fix(init): TargetDir for init, can be absolute, is created if needed
  api/fsi.go
  api/fsi_test.go
  cmd/fsi_integration_test.go
  cmd/init.go
  cmd/test_runner_test.go
  fsi/init.go
  fsi/init_test.go
  fsi/status_test.go
  lib/datasets_test.go
  lib/fsi.go
  lib/fsi_test.go
  lib/test_runner_test.go
Labels: FSI

#1580 feat(sql): Disable sql command on 32-bit arm to fix compilation
  sql/sql.go
  sql/sql_arm.go
Labels: SQL, platform/ARM

#1581 feat(dsync): update dsync to use multi-block streams over HTTP
  go.mod
  go.sum
Labels: feat

#1583 fix(api): Fix unmarshal bug in api test
  api/datasets_test.go
  api/testdata/expect/TestDatasetGet.test_ds.json
  sql/sql_arm.go
Labels: API, fix, test

#1587 perf(dsfs): don't calculate commit descriptions if title and message are set
  api/testdata/expect/TestDatasetGet.test_ds.json
  base/component/component.go
  base/dsfs/commit.go
  base/dsfs/dataset.go
  base/save_test.go
  go.mod
  go.sum
Labels: base, perf

#1588 Fix fsi stats
  cmd/factory_test.go
  cmd/search_test.go
  cmd/stats.go
  cmd/stats_test.go
  fsi/fsi.go
  fsi/mapping.go
  go.mod
  go.sum
  lib/datasets.go
  lib/datasets_test.go
  lib/lib.go
  stats/cache.go
  stats/cache_test.go
  stats/histosketch/histosektch_test.go
  stats/histosketch/histosketch.go
  stats/stats.go
  stats/stats_test.go
Labels: refactor

#1589 chore: remove dead code / files
  registry/Makefile
  registry/README.md
  registry/dockerfile
  repo/_dead/_refs_go
  repo/_dead/_refs_test_go
Labels: chore
