Repository qri-io/qri, pull requests merged in 2020-08, with the labels that each got.

#1487 fix(setup): Fix setup, add many unit tests
  cmd/setup.go
  cmd/setup_test.go
  lib/setup.go
Labels: fix

#1489 fix(p2p): some clean up around `qri peers connect` and `upgradeToQriConnection`
  p2p/bootstrap.go
  p2p/node.go
  p2p/peers.go
Labels: fix, network/p2p

#1490 chore(deepdiff): Bump deepdiff to get recent fixes
  go.mod
  go.sum
Labels: fix

#1491 chore(release): release v0.9.11
  CHANGELOG.md
  version/version.go
Labels: chore

#1486 refactor(p2p): add `QriIdentityService` to to replace `upgradeToQriConnection`
  .circleci/config.yml
  base/log_test.go
  cmd/checkout_test.go
  cmd/cmd_test.go
  cmd/connect.go
  cmd/connect_test.go
  cmd/dag_test.go
  cmd/diff_test.go
  cmd/fsi_integration_test.go
  cmd/fsi_test.go
  cmd/get_test.go
  cmd/log_integration_test.go
  cmd/log_test.go
  cmd/preview_test.go
  cmd/pull_test.go
  cmd/push_test.go
  cmd/remove_integration_test.go
  cmd/remove_test.go
  cmd/rename_integration_test.go
  cmd/rename_test.go
  cmd/render_test.go
  cmd/save_test.go
  cmd/search_test.go
  cmd/setup_test.go
  cmd/sql_test.go
  cmd/stats_test.go
  cmd/test_runner_test.go
  cmd/use_test.go
  cmd/validate_test.go
  dsref/mem_resolver_test.go
  dsref/parse_test.go
  event/p2p.go
  go.mod
  go.sum
  lib/lib.go
  logbook/logbook_test.go
  p2p/bootstrap.go
  p2p/connected.go
  p2p/connected_test.go
  p2p/datasets_test.go
  p2p/identity_service.go
  p2p/identity_service_test.go
  p2p/list_peers_test.go
  p2p/node.go
  p2p/node_test.go
  p2p/p2p.go
  p2p/peers.go
  p2p/qri_peers.go
  p2p/test/p2ptest.go
  p2p/test/p2ptest_test.go
  remote/client.go
  remote/mock_client.go
  repo/ref/convert_test.go
  watchfs/watchfs_test.go
Labels: refactor

#1493 refactor(p2p): add p2p `ResolveRef` & `NewP2PRefResolver`
  api/api_test.go
  lib/config_test.go
  lib/datasets_test.go
  lib/fsi_test.go
  lib/lib.go
  lib/log_test.go
  lib/profile_test.go
  lib/render_test.go
  lib/resolve.go
  lib/search_test.go
  lib/test_runner_test.go
  p2p/node.go
  p2p/node_test.go
  p2p/p2p_test.go
  p2p/ping_test.go
  p2p/profile_service.go
  p2p/profile_service_test.go
  p2p/resolve_ref.go
  p2p/resolve_ref_test.go
  p2p/test/testable_node_test.go
  registry/regclient/client_test.go
  registry/regserver/mock.go
  remote/client.go
  remote/client_test.go
  remote/remote_test.go
Labels: network/p2p, refactor

#1497 refactor(api): Remove root handler, introduce /get, disallow /me
  api/api.go
  api/api_test.go
  api/dataset_test.go
  api/datasets.go
  api/fsi_test.go
  api/get_test.go
  api/middleware.go
  api/root.go
  api/testdata/api.snapshot
Labels: API, Breaking Change

#1496 feat: remote access control
  access/access.go
  access/access_test.go
  base/remove.go
  cmd/qri.go
  dsref/spec/resolve.go
  fsi/init.go
  go.mod
  go.sum
  identity/identity.go
  lib/lib.go
  lib/lib_test.go
  logbook/logbook.go
  logbook/logbook_test.go
  logbook/logsync/http.go
  logbook/logsync/http_test.go
  logbook/logsync/logsync.go
  logbook/logsync/logsync_test.go
  logbook/logsync/p2p.go
  logbook/oplog/log_test.go
  logbook/temp_builder.go
  remote/client.go
  remote/remote.go
  remote/remote_test.go
  remote/signature.go
  remote/signature_test.go
Labels: access control, feat
