Repository qri-io/qri, pull requests merged in 2020-09, with the labels that each got.

#1510 refactor(api): Combine /get and /body endpoints
  api/api.go
  api/api_test.go
  api/dataset_test.go
  api/datasets.go
  api/datasets_test.go
  api/fsi.go
  api/log.go
  api/middleware.go
  api/peers.go
  api/profile.go
  api/registry.go
  api/remote.go
  api/render.go
  api/search.go
  api/sql.go
  api/testdata/api.snapshot
  api/util/errors.go
  api/util/handlers.go
  api/util/order.go
  api/util/order_test.go
  api/util/page.go
  api/util/page_test.go
  api/util/requests.go
  api/util/requests_test.go
  api/util/responses.go
  api/util/responses_test.go
  dsref/parse.go
  lib/params.go
Labels: API, refactor

#1512 fix(fsi): component filenames are case-insensitive
  base/component/list_dir.go
  base/component/list_dir_test.go
Labels: FSI, fix

#1511 feat(sql): auto-alias table names when only one dataset is referenced
  sql/preprocess/preprocess.go
  sql/preprocess/preprocess_test.go
Labels: SQL

#1513 feat(api): qri can serve a simple webui
  api/api.go
  api/webui.go
  config/api.go
Labels: feat

#1517 feat(pull): set pulling source with remote flag on CLI & API
  api/datasets.go
  cmd/pull.go
  lib/datasets.go
Labels: API, CLI, remote

#1516 fix(get): get command auto-fetches
  api/datasets.go
  cmd/cmc_info_300.json
  cmd/get.go
  cmd/get_test.go
  cmd/test_runner_test.go
  lib/load.go
  remote/mock_client.go
Labels: API, CLI, remote

#1519 chore(release): Release v0.9.12
  CHANGELOG.md
  api/testdata/api.snapshot
  version/version.go
Labels: chore, fix

#1515 refactor(p2p): remove unused code & collate code marked for deprecation
  p2p/dataset.go
  p2p/datasets.go
  p2p/datasets_test.go
  p2p/list_peers_test.go
  p2p/message.go
  p2p/node.go
  p2p/p2p_deprecate.go
  p2p/p2p_deprecate_test.go
  p2p/peers.go
  p2p/peers_test.go
  p2p/ping.go
  p2p/ping_test.go
  p2p/profile.go
  p2p/profile_test.go
  p2p/qri_peers.go
  p2p/qri_peers_test.go
  p2p/wrapped_stream.go
Labels: network/p2p, refactor

#1534 feat(validate): tabular output of validation errors on CLI, configure output format
  cmd/print.go
  cmd/validate.go
  cmd/validate_test.go
  go.mod
  go.sum
  lib/datasets.go
  lib/datasets_test.go
Labels: CLI, feat

#1537 refactor(init): rename flag `source-body-path` to `body`
  .circleci/user_benchmarks.sh
  cmd/fsi_integration_test.go
  cmd/init.go
  cmd/remove_integration_test.go
  fsi/init.go
Labels: fix, refactor
