Repository qri-io/qri, pull requests merged in 2020-05, with the labels that each got.

#1315 refactor(fetch into log): use `qri log` and `/history` endpoints for local and network log fetches
  api/api.go
  api/log.go
  api/log_test.go
  api/remote.go
  api/remote_test.go
  api/testdata/api.snapshot
  cmd/fetch.go
  cmd/fetch_test.go
  cmd/log.go
  cmd/qri.go
  lib/log.go
  logbook/logsync/http.go
Labels: API, refactor

#1321 refactor(logbook): Most logbook methods take an initID, not ref
  base/log_test.go
  base/ref.go
  base/remove.go
  base/save.go
  cmd/init.go
  dscache/convert_test.go
  fsi/init.go
  lib/fsi.go
  logbook/logbook.go
  logbook/logbook_test.go
  logbook/logsync/logsync_test.go
  logbook/oplog/log.go
  logbook/oplog/log_test.go
  logbook/temp_builder.go
  logbook/types.go
  remote/remote.go
  repo/test/test_repo.go
Labels: logbook

#1329 refactor(log): `pull` flag skips local log search, & `remote=registry` is recognized
  api/log.go
  cmd/log.go
Labels: fix

#1331 fix(dsfs): Ensure name and peername are not written to IPFS
  api/testdata/api.snapshot
  base/dataset_prepare.go
  base/dataset_prepare_test.go
  base/dsfs/dataset.go
  base/save.go
  base/save_test.go
  cmd/add_test.go
  cmd/cmd_test.go
  cmd/fetch_test.go
  cmd/fsi_integration_test.go
  cmd/get_test.go
  cmd/log_integration_test.go
  cmd/log_test.go
  cmd/save_test.go
  lib/diff_test.go
  repo/test/test_repo.go
Labels: base, fix

#1334 refactor(lib): rename RenderRequests -> RenderMethods, use an instance
  api/api.go
  api/render.go
  api/render_test.go
  cmd/factory.go
  cmd/factory_test.go
  cmd/qri.go
  cmd/render.go
  cmd/render_test.go
  lib/lib.go
  lib/render.go
  lib/render_test.go
Labels: lib, refactor

#1333 refactor(base): base.SaveDataset takes an initID and path
  base/dataset_prepare.go
  base/save.go
  base/save_test.go
  base/test_runner_test.go
  cmd/add_test.go
  cmd/cmd_test.go
  cmd/fetch_test.go
  cmd/fsi_integration_test.go
  cmd/get_test.go
  cmd/log_integration_test.go
  cmd/log_test.go
  cmd/remove_test.go
  cmd/save_test.go
  cmd/test_runner_test.go
  dsref/ref.go
  dsref/version_info.go
  lib/datasets.go
  lib/datasets_test.go
  lib/lib_test.go
  remote/peer_sync_client_test.go
  remote/remote_test.go
Labels: base

#1335 feat(export): Can get a zip of a dataset using `get --format zip`
  api/datasets.go
  api/fsi_test.go
  api/get_test.go
  api/render_test.go
  api/test_runner_test.go
  api/testdata/api.snapshot
  api/testdata/cities/exported.zip
  base/archive/archive.go
  base/archive/zip.go
  base/archive/zip_test.go
  base/dsfs/testdata/zip/exported.zip
  cmd/get.go
  cmd/ref_select.go
  cmd/ref_select_test.go
  dsref/ref.go
  dsref/ref_test.go
  fsi/fsi.go
  fsi/fsi_test.go
  fsi/hiddenfile/hidden_file.go
  fsi/hiddenfile/hidden_file_windows.go
  fsi/init.go
  fsi/linkfile/linkfile.go
  fsi/status.go
  lib/datasets.go
  lib/lib.go
Labels: API, feat

#1326 fix(get): Quick fix to ignore merkledag errors
  base/dataset.go
Labels: bug

#1341 refactor(diff): Refactor diff for clarity. Use lib.TestRunner
  api/datasets.go
  base/component/list_dir.go
  base/component/list_dir_test.go
  cmd/cmd_test.go
  cmd/diff.go
  cmd/diff_test.go
  cmd/testdata/movies/structure_rename.json
  lib/datasets_test.go
  lib/diff.go
  lib/diff_test.go
  lib/lib_test.go
  lib/test_runner_test.go
  lib/testdata/cities_2/body_even_more.csv
  lib/testdata/cities_2/body_more.csv
Labels: diff, lib

#1355 fix(dsref): Improve dsref parse error messages
  cmd/save_test.go
  dsref/parse.go
  dsref/parse_test.go
  lib/fsi.go
  lib/fsi_test.go
Labels: UX, fix

#1349 feat(dscache): Dscache used for fsi init and checkout
  api/fsi_test.go
  api/testdata/api.snapshot
  cmd/fsi_integration_test.go
  cmd/save_test.go
  cmd/test_runner_test.go
  dscache/dscache.go
  dscache/dscache_test.go
  event/hook/change.go
  fsi/fsi.go
  fsi/init.go
  lib/diff_test.go
  lib/fsi.go
  lib/fsi_test.go
  lib/lib.go
  lib/test_runner_test.go
  logbook/action.go
  logbook/logbook.go
  repo/buildrepo/build.go
  repo/fs/fs_test.go
  repo/mem_repo.go
Labels: FSI, dscache

#1308 feat: Registry-Backed Reference Resolution
  api/fsi_test.go
  api/log.go
  api/testdata/api.snapshot
  cmd/fetch_test.go
  cmd/log.go
  cmd/rename_integration_test.go
  dscache/dscache.go
  dscache/dscache_test.go
  dsref/mem_resolver.go
  dsref/mem_resolver_test.go
  dsref/ref.go
  dsref/resolve.go
  dsref/resolve_test.go
  dsref/spec/resolve.go
  dsref/spec/resolve_test.go
  fsi/fsi.go
  fsi/fsi_test.go
  go.mod
  lib/datasets.go
  lib/datasets_test.go
  lib/integration_test.go
  lib/log.go
  lib/log_test.go
  lib/remote.go
  lib/resolve.go
  logbook/logbook.go
  logbook/logbook_test.go
  registry/regclient/client.go
  registry/regclient/client_test.go
  registry/regclient/profile_test.go
  remote/client.go
  remote/mock_client.go
  remote/peer_sync_client.go
  remote/peer_sync_client_test.go
  repo/fs/fs.go
  repo/fs/fs_test.go
  repo/mem_repo.go
  repo/mem_repo_test.go
  repo/repo.go
  repo/store.go
  resolver/loader/loader.go
  resolver/mem_resolver.go
  resolver/mem_resolver_test.go
  resolver/resolver.go
Labels: naming

#1351 test(benchmark): added benchmarks for save/validate
  base/dsfs/dataset_test.go
  go.mod
Labels: test

#1358 chore(dataset): bump dataset version
  go.mod
Labels: chore

#1357 refactor(jsonschema): updating to latest jsonschema
  base/dsfs/dataset.go
  base/validate.go
  cmd/validate.go
  cmd/validate_test.go
  config/config.go
  go.mod
  go.sum
  lib/datasets.go
  lib/datasets_test.go
Labels: refactor

#1359 refactor: remove CanonicalizeDatasetRef from parts of base and all of FSI packages
  api/datasets.go
  api/testdata/api.snapshot
  base/body_test.go
  base/dataset.go
  base/log.go
  base/log_test.go
  base/ref.go
  base/ref_test.go
  base/save_test.go
  base/select_test.go
  cmd/add_test.go
  cmd/fsi.go
  cmd/fsi_integration_test.go
  cmd/fsi_test.go
  cmd/ref_select.go
  cmd/rename.go
  cmd/rename_test.go
  cmd/stats_test.go
  dsref/ref.go
  dsref/resolve.go
  fsi/fsi.go
  fsi/fsi_test.go
  fsi/init.go
  fsi/init_test.go
  fsi/status.go
  fsi/status_test.go
  go.sum
  lib/datasets.go
  lib/datasets_test.go
  lib/export.go
  lib/fsi.go
  lib/integration_test.go
  lib/lib.go
  lib/log.go
  lib/render.go
  lib/render_test.go
  lib/resolve.go
  lib/test_runner_test.go
  repo/parse.go
  repo/ref/convert.go
  repo/store.go
  sql/qds/datasource.go
Labels: naming, refactor

#1363 fix(naming): Handle names with upper-case characters
  api/testdata/api.snapshot
  cmd/checkout.go
  cmd/cmd_test.go
  cmd/fsi.go
  cmd/get.go
  cmd/log.go
  cmd/ref_select.go
  cmd/remove.go
  cmd/rename_integration_test.go
  cmd/render_test.go
  cmd/restore.go
  cmd/save.go
  cmd/save_test.go
  cmd/stats_test.go
  cmd/status.go
  cmd/validate_test.go
  cmd/whatchanged.go
  lib/datasets.go
  lib/datasets_test.go
  lib/resolve.go
Labels: fix, naming

#1368 refactor(apiutil): upgrade to new apiutil api
  api/datasets.go
  api/datasets_test.go
  api/fsi_test.go
  api/peers.go
  api/testdata/api.snapshot
  cmd/fetch_test.go
  go.mod
  go.sum
  lib/params.go
  registry/regserver/handlers/search.go
Labels: API

#1364 refactor(config): use multiaddr and migrate config
  api/api.go
  api/api_test.go
  api/transports.go
  api/websocket.go
  cmd/cmd_test.go
  cmd/connect_test.go
  cmd/fetch_test.go
  config/api.go
  config/config.go
  config/migrate/migrate.go
  config/readme.md
  config/rpc.go
  config/testdata/default.yaml
  config/testdata/simple.yaml
  go.mod
  go.sum
  lib/lib.go
  lib/peers_test.go
Labels: config, refactor
