Repository qri-io/qri, pull requests merged in 2021-04, with the labels that each got.

#1736 refactor(lib): profile follows the dispatch pattern
  api/api.go
  api/api_test.go
  api/profile.go
  api/profile_test.go
  cmd/completion.go
  cmd/config.go
  cmd/factory.go
  cmd/factory_test.go
  cmd/qri.go
  lib/api.go
  lib/datasets.go
  lib/dispatch.go
  lib/lib.go
  lib/profile.go
  lib/profile_test.go
Labels: refactor

#1742 refactor(lib): adjust `RegistryClientMethods` to use dispatch pattern
  api/api.go
  api/api_test.go
  api/registry.go
  cmd/factory.go
  cmd/factory_test.go
  cmd/qri.go
  cmd/registry.go
  lib/api.go
  lib/dispatch.go
  lib/lib.go
  lib/registry.go
  lib/registry_test.go
  lib/scope.go
Labels: refactor

#1749 refactor(lib): fold `RenderMethods` into `DatasetMethods` & follow the dispatch pattern
  api/api.go
  api/render.go
  api/render_test.go
  api/test_runner_test.go
  base/render_readme.go
  base/render_readme_test.go
  cmd/factory.go
  cmd/factory_test.go
  cmd/qri.go
  cmd/render.go
  cmd/render_test.go
  lib/api.go
  lib/datasets.go
  lib/render.go
  lib/render_test.go
Labels: refactor

#1734 refactor(api): aligning our API with spec
  api/api.go
  api/api_test.go
  api/datasets.go
  api/fsi_test.go
  api/http_client_test.go
  api/transform.go
  cmd/apply.go
  cmd/diff.go
  cmd/list.go
  cmd/log.go
  cmd/qri.go
  cmd/stats.go
  cmd/stats_test.go
  cmd/whatchanged.go
  lib/api.go
  lib/automation.go
  lib/automation_test.go
  lib/changes.go
  lib/changes_test.go
  lib/collection.go
  lib/collection_test.go
  lib/datasets.go
  lib/datasets_test.go
  lib/diff.go
  lib/diff_test.go
  lib/dispatch.go
  lib/fsi.go
  lib/integration_test.go
  lib/lib.go
  lib/log.go
  lib/log_test.go
  lib/test_runner_test.go
Labels: API, Breaking Change

#1753 refactor(api): remove unneeded `DatasetHandlers`
  api/api.go
  api/datasets.go
  api/datasets_test.go
  lib/api.go
Labels: API, refactor

#1755 refactor(lib): `NewHTTPRequestHandler` no longer relies on `UnmarshalParams`
  api/api.go
  api/api_test.go
  api/datasets_test.go
  api/fsi_test.go
  api/handlers.go
  api/handlers_test.go
  api/http_client_test.go
  api/params.go
  api/params_test.go
  api/sql.go
  api/sql_test.go
  api/testdata/api.snapshot
  lib/datasets.go
  lib/fsi.go
  lib/http.go
  lib/log.go
  lib/params.go
  lib/peers.go
  lib/remote.go
  lib/search.go
Labels: API, refactor

#1754 fix(lib): Align input params across all lib methods
  api/fsi_test.go
  api/handlers_test.go
  api/middleware.go
  api/params_test.go
  base/dataset.go
  base/dataset_test.go
  cmd/apply.go
  cmd/checkout.go
  cmd/cmd.go
  cmd/completion.go
  cmd/dag.go
  cmd/fsi.go
  cmd/get.go
  cmd/get_test.go
  cmd/list.go
  cmd/log.go
  cmd/preview.go
  cmd/pull.go
  cmd/push.go
  cmd/ref_select.go
  cmd/remove.go
  cmd/restore.go
  cmd/save.go
  cmd/save_test.go
  cmd/validate.go
  cmd/validate_test.go
  cmd/whatchanged.go
  lib/automation.go
  lib/automation_test.go
  lib/changes.go
  lib/changes_test.go
  lib/collection.go
  lib/collection_test.go
  lib/datasets.go
  lib/datasets_test.go
  lib/diff.go
  lib/fsi.go
  lib/fsi_test.go
  lib/http.go
  lib/integration_test.go
  lib/lib.go
  lib/load.go
  lib/log.go
  lib/params.go
  lib/remote.go
  lib/scope.go
  lib/test_runner_test.go
  p2p/datasets.go
  registry/regserver/mock.go
  remote/browse.go
  remote/registry/regserver/mock.go
Labels: Breaking Change, lib, refactor

#1751 refactor(load): dsref.Loader overhaul
  base/dataset.go
  base/render_test.go
  base/test_loader.go
  changes/changes.go
  changes/changes_test.go
  cmd/cmd_test.go
  cmd/log.go
  cmd/rename.go
  dsref/load.go
  dsref/spec/load.go
  lib/automation.go
  lib/changes.go
  lib/collection.go
  lib/datasets.go
  lib/datasets_test.go
  lib/diff.go
  lib/fsi.go
  lib/lib.go
  lib/load.go
  lib/load_test.go
  lib/log.go
  lib/remote.go
  lib/resolve.go
  lib/scope.go
  lib/sql.go
  sql/qds/datasource.go
  sql/qds/datasource_test.go
  sql/sql.go
  transform/apply.go
  transform/apply_test.go
  transform/startf/exec_step.go
  transform/startf/transform.go
  transform/startf/transform_test.go
Labels: lib, resolvers

#1766 refactor(Get): adjust `lib.Get`, `qri get`, and `/get` handlers to cover all special cases as well as rpc
  api/api.go
  api/fsi_test.go
  api/handlers.go
  api/handlers_test.go
  api/middleware.go
  api/params_test.go
  api/testdata/expect/TestDatasetGet.test_ds.json
  base/body.go
  base/body_test.go
  base/select.go
  cmd/fsi_integration_test.go
  cmd/get.go
  cmd/get_test.go
  fsi/body.go
  lib/datasets.go
  lib/datasets_test.go
  lib/test_runner_test.go
Labels: refactor

#1777 refactor(lib, api): move sugar endpoints out of `lib` into `api`
  api/api.go
  api/endpoints.go
  api/handlers.go
  api/http_client_test.go
  lib/api.go
Labels: API, refactor

#1773 fix(oas): add open api spec tests to CI and makefile
  .circleci/config.yml
  Makefile
  docs/api_docs.go
  docs/go.mod
Labels: API, docs, test
