Repository qri-io/qri, pull requests merged in 2021-02, with the labels that each got.

#1629 feat(httpClient): introducing an httpClient
  api/api.go
  api/api_test.go
  api/http_client_test.go
  api/testdata/api.snapshot
  api/testdata/http_client/list.json
  api/transports.go
  api/util/responses.go
  cmd/cmd_test.go
  go.mod
  go.sum
  lib/api.go
  lib/http.go
  lib/lib.go
Labels: API, RPC, feat

#1631 refactor(apply): RPC > HTTP
  api/transform.go
  cmd/apply.go
  lib/test_runner_test.go
  lib/transform.go
  lib/transform_test.go
Labels: API, Breaking Change, RPC

#1630 feat(prove): Prove a new keypair for an account, set original profileID
  lib/registry.go
  registry/regclient/profile.go
Labels: feat, logbook

#1641 refactor(dsref.VersionInfo): merge logbook.DatasetLogItem into VersionInfo
  api/log.go
  base/log.go
  base/log_test.go
  base/remove.go
  cmd/connect_test.go
  cmd/log.go
  cmd/stringers.go
  dscache/def.fbs
  dscache/dscachefb/Dscache.go
  dscache/dscachefb/RefEntryInfo.go
  dscache/dscachefb/UserAssoc.go
  dscache/fill_info.go
  dsref/version_info.go
  dsref/version_info_test.go
  lib/datasets.go
  lib/integration_test.go
  lib/log.go
  lib/log_test.go
  logbook/logbook.go
  logbook/logbook_test.go
  logbook/logsync/http_test.go
  p2p/node_test.go
  remote/client_test.go
  remote/remote_test.go
  repo/ref/convert.go
Labels: logbook, refactor

#1642 fix(prove): Prove command updates local logbook as needed
  lib/registry.go
  lib/registry_test.go
  logbook/logbook.go
  logbook/oplog/log.go
  registry/regserver/handlers/handlers.go
  registry/regserver/handlers/profile.go
Labels: logbook

#1640 feat(logbook): write run operations
  base/dataset_prepare.go
  base/dsfs/commit.go
  base/dsfs/compute_fields.go
  base/dsfs/doc.go
  base/dsfs/dsfs.go
  base/dsfs/readme.go
  base/dsfs/structure.go
  base/dsfs/transform.go
  base/dsfs/viz.go
  base/save.go
  base/test_runner_test.go
  cmd/cmd_test.go
  cmd/save.go
  cmd/test_runner_test.go
  cmd/testdata/expect/TestSaveThenOverrideMetaAndTransformAndViz.json
  cmd/testdata/expect/TestSaveThenOverrideTransform.json
  dsref/spec/resolve.go
  event/transform.go
  lib/datasets.go
  lib/datasets_test.go
  lib/lib.go
  lib/lib_test.go
  lib/transform.go
  lib/transform_test.go
  logbook/logbook.go
  logbook/logbook_test.go
  logbook/logsync/logsync_test.go
  logbook/temp_builder.go
  logbook/types.go
  remote/mock_client.go
  remote/remote_test.go
  repo/test/test_repo.go
  transform/apply.go
  transform/apply_test.go
  transform/run/run.go
  transform/run/run_test.go
Labels: Breaking Change, feat, logbook

#1645 fix(base.ListDatasets): support -1 limit to list all datasets
  base/dataset.go
  base/dataset_test.go
  lib/datasets.go
  p2p/datasets.go
  registry/regserver/mock.go
  remote/browse.go
  transform/startf/qri/qri.go
Labels: base, fix

#1646 refactor(dsref): replace ProfileID with InitID in refstring serialization
  base/remove_test.go
  dsref/parse.go
  dsref/parse_test.go
  dsref/ref.go
  dsref/ref_test.go
  dsref/spec/resolve.go
  lib/integration_test.go
  logbook/logsync/http.go
  logbook/logsync/logsync.go
Labels: refactor, spec
